<div class="full-width-container">
	<h1 class="site-heading"><%= link_to "Conrad Bastable", root_path%></h1>
	<div class="container">
		<div class="bio"></div>
		<div class="projects">
			<ul>
				<li>Interests 
					<p>Coding.</p>
					<p>Big Data.</p>
					<p>Finance.</p>
					<p>Genetics.</p>
					<p>AI.</p>
					<p>Non-Artificial Intelligence.</p>
					<p>Short Stories.</p>
					<p>Genre fiction.</p>
					<p>Games.</p>
				</li>
			</ul>
		</div>
	</div>
</div>