<div class="full-width-container">
	<h1 class="site-heading">Conrad Bastable</h1>
	<div class="container">
		<div class="bio">
			<ul>
				<li>User.</li>
				<li>Developer.</li>
				<li>Reader.</li>
				<li>Writer.</li>
				<li>Student.</li>
				<li>Employee.</li>
				<li>Gamer.</li>
				<li>Game creator.</li>
				<li>Builder.</li>
			</ul>
		</div>
		<div class="projects">
			<ul>
				<li>Kanji <p>Learn and test yourself on Kanji from the Japanese Language Proficiency Test. I built this as a quick weekend project to motivate myself back into Japanese proficiency by targeting my weakest area. I'd also never written a practical web scraper before, so I had to fix that. Work in progress.</p> </li>
				<li>Storyboard <p>Submit authored short stories from any fiction genre and potentially earn income from successful ones. This was my first serious ruby/rails/web app, and despite (perhaps because of) its current state I learned a lot design and engineering wise. Curretly on hold.</p></li>
			</ul>
		</div>
	</div>
</div>