<div class="full-width-container">
	<h1 class="site-heading">Conrad Bastable</h1>
	<div class="container">
		<div class="bio">
			<ul>
				<li>User.</li>
				<li>Developer.</li>
				<li>Reader.</li>
				<li>Writer.</li>
				<li>Student.</li>
				<li>Employee.</li>
				<li>Gamer.</li>
				<li>Game creator.</li>
				<li>Financier.</li>
			</ul>
		</div>
		<div class="projects">
			<ul>
				<li>Kanji</li>
				<li>Storyboard</li>
			</ul>
		</div>
	</div>
</div>