<div class="full-width-container">
	<h1 class="site-heading">Conrad Bastable</h1>
	<div class="container">
		<div class="bio">
			<ul>
				<li>
					<span class="default">User.</span>
					<span class="on-hover">Serious.</span>
				</li>
				<li>
					<span class="default">Developer.</span>
					<span class="on-hover">In training.</span>
				</li>
				<li>
					<span class="default">Reader.</span>
					<span class="on-hover">Voracious.</span>
				</li>
				<li>
					<span class="default">Writer.</span>
					<span class="on-hover">Aspiring.</span>
				</li>
				<li>
					<span class="default">Student.</span>
					<span class="on-hover">MIT alum.</span>
				</li>
				<li>
					<span class="default">Employee.</span>
					<span class="on-hover">JPMorgan.</span>
				</li>
				<li>
					<span class="default">Game creator.</span>
					<span class="on-hover">In progress...</span>
				</li>
				<li>
					<span class="default">Builder.</span>
					<span class="on-hover">See below.</span>
				</li>
				<li>
					<span class="default">Work.</span>
					<span class="on-hover">Hard.</span>
				</li>
				<li>
					<span class="default">Play.</span>
					<span class="on-hover">Hard.</span>
				</li>
				<li>
					<span class="blog"><%=link_to "About...", about_path %></span>
				</li>
				<li>
					<span class="blog"><%=link_to "Blog...", blog_path %></span>
				</li>
			</ul>
		</div>
		<div class="projects">
			<ul>
				<li><%= link_to "Kanjimasu", "http://www.Kanjimasu.com", target: '_blank' %> <p>Learn and test yourself on Kanji from the Japanese Language Proficiency Test. I built this as a quick weekend project to motivate myself back into Japanese proficiency by targeting my weakest area. I'd also never written a practical web scraper before, so I had to fix that. Work in progress.</p> </li>
				<li><%= link_to "Storyboard", "http://www.shortstoryboard.com", target: '_blank' %><p>Submit authored short stories from any fiction genre and potentially earn income from successful ones. This was my first serious ruby/rails/web app, and despite (perhaps because of) its current state I learned a lot design and engineering wise. Curretly on hold.</p></li>
			</ul>

		</div>
	</div>
</div>