.full-width-container {
	padding-top: 45px;
	padding-bottom: 0;
	background-color: #fff;
	color: #333;
}

.container {
	max-width: 700px;
	margin: 30px auto 0 auto;
}

.site-heading {
	//position
	display: block;
	text-align: center;

	//font
	color: #333;
	font-size: 52px;
	line-height: 1;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 700;
}

.bio {
	//positioning
	margin-top: 5px;
	padding-bottom: 10px;
	//font
	line-height: 20px;
	border-bottom: 1px solid #b3b3b1;
	font-size: 18px;
	overflow: hidden;
	ul {
		padding-bottom: 5px;
	}
	li {
		width: 6em;
		float: left;
		overflow: hidden;
		margin-right: 5px;
	}
}

.projects {
	//positioning
	margin-top: 20px;
	padding-bottom: 10px;
	//font
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	li {
		
		overflow: hidden;
		margin-top: 15px;
		padding-bottom: 10px;
	}
}

li .on-hover { display: none; }
li:hover .default { display: none; }
li:hover .on-hover { display: inline; }

p {

	font-size: 16px;
	font-weight: normal;
}

a {
//positioning
color: #333;
text-decoration: none;
	&:hover{
		text-decoration: none;
		color: #08c;
	}
}